body {
	background-color: #e9f1f4;
	.jumbotron{
	  background-color: #e9f1f4;
	  padding-top:0;
	}
	.container-fluid{
	  padding:0;
	}
}
.hand-cursor{
  cursor:pointer;
}
.navbar-default{
  background-color:#3f9ac3;
  height: 60px;
  .navbar-brand{
    img{
      width: 55px;
      margin: 0px 13px;
    }
  }
  .profile-pic{
    img{
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin: 12px 10px;
    }
  }
}
.margin10-right {
	margin-right: 10px;
}
.margin20-top {
	margin-top: 20px;
}
.login-container, .profile-container {
	font-weight: 100;
	margin:15% auto;
	.input-controls {
    height: 55px;
    padding: 0 14px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    font-size: 1.6em;
    border: none;
    margin: 10px 0;
    line-height: 1.6em;
    word-wrap: normal;
    word-break: normal;
    white-space: nowrap;
  }
  .login-caption {
    color: #777 !important;
  }
  .forgot-password {
    margin-top: 20px;
    font-size: 20px;
    text-decoration: underline;
  }
}




/*Events calendar*/
.events-calendar-heading {
	font-size: 20px;
	font-weight: bold;
	color: #848181;
}
.border-bottom {
	padding: 15px 0 0 0;
	border-bottom: 1px solid #ddd;
}
.clear {
	clear: both;
}
.profile {
	color: #bbb;
	font-size: 30px;
}
.jumbotron{
  .list-sub-items {
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: .1em;
    .heading {
      text-transform: uppercase;
      font-size: 11px;
      color: #888;
    }
  }
} 


.events-calendar-container{
  padding: 0 30px;
  a.list-group-item {
    margin-bottom: 1px;
    color: #999;
    cursor:pointer;
    padding:10px;
    p{
      margin-bottom:2px;
      line-height: 18px;
    }
  }
  .pending-item {
    border-left: 3px solid red;
  }
  .normal-item {
    border-left: 3px solid #bbb;
  }
  .list-sub-items {
    color: #b2abab;
  }
  .month-events {
    margin-top: 50px;
  }
  .add-event {
    padding: 0;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 500px;
    width: 25px;
    height: 25px;
    text-align: center;
    margin-top:13px;
  }
  .list-group-item-heading {
    color: #7a7777;
    font-size:14px;
  }
  .item-details{
    border-right:1px solid #c8c8c8;
    border-left:1px solid #c8c8c8;
    border-bottom:1px solid #c8c8c8;
    background-color:#fff;
    margin:-3px 0 10px 0;
    .details{
      padding:10px;
    }
  }
}
.border{
  border-bottom:1px solid #ddd;
  margin: 40px 0;
}


.profile-container{
    margin:20px auto;
  .image-container{
    background-color: #f9fafb;
    text-align: center;
    border: 3px solid #eaedf1;
    padding: 5px;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin:0 auto;
    img{
      height: 100%;
      max-width: 100%;
      width: auto;
    }
  }
  .sub-text{
    color:#aaa;
    font-size:18px;
  }
  label{
    font-weight:normal;
    font-size:20px;
    color:#7f7979;
  }
  h2{
    color:#7f7979;
  }
}
