<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header col-xs-12 col-sm-12 col-lg-12">
			<a class="btn-sm dropdown-toggle hand-cursor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="fa fa-bars menu"></span> </a>
			<ul class="dropdown-menu menu-options">
				<li>
					<a href="#scheduledEventsCalendar">My Scheduled events</a>
				</li>
				<li>
					<a href="#upcomingEventsCalendar">Upcoming Events</a>
				</li>
				<li>
					<a href="#profilePage">My Profile</a>
				</li>
			</ul>
			<a class="pull-right" href='#login'>
			<button class="btn btn-link signout">
				<i class="fa fa-sign-out">Sign out</i>
			</button> </a>
		</div>
	</div>
</nav>
<div class="events-calendar-container">
	<div class="events-calendar-heading">
		<div class="pull-left">
			Upcoming events
		</div>
		<div class="clear"></div>
		<div class="border-bottom"></div>
	</div>
	<div>
		<button class="btn btn-success pull-right co-ordinator">
			<i class="fa fa-user-plus margin10-right"></i>Coordinator page
		</button>
	</div>
	<div class="clear"></div>

	<div class="text-center" ng-show="upcomingEvents.length==0">
		<img src="img/ajax-loader.gif">
	</div>

	<div class="month-events" ng-show="showUpcomingEvents">
		<ul class="nav nav-tabs" role="tablist">
			<li ng-class="$index == 0 ? 'active' : ''" role="presentation" ng-repeat="upcomingEvent in upcomingEvents track by $index">
				<a class="active hand-cursor tab-list" role="tab" data-target= #month{{$index}} data-toggle="tab">{{upcomingEvent[0]}}</a>
			</li>
		</ul>

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane" id= month{{$index}} ng-class="$index == 0 ? 'active' : ''" ng-repeat="upcomingEvent in upcomingEvents track by $index">
				<div ng-repeat="event in upcomingEvent[1] track by $index">
					<div class="list-group">
						<a class="list-group-item normal-item" data-toggle="collapse" data-target=#item{{$parent.$index}}{{$index}}>
						<p>
							<span class="list-group-item-heading">{{event[2]}}</span>
							<span class="pull-right">
								<button class="btn btn-sm btn-success add-event" ng-click="$parent.$parent.vm.SubscribeToEvent(event, $event)">
									<i class="fa fa-plus"></i>
								</button></span>
						</p>
						<p class="list-group-item-text list-sub-items">
							<span class="heading"><strong>Type : </strong></span><span>{{event[6]}}</span>
							<span class="heading skill"><strong>Skill : </strong></span><span>{{event[7]}}</span>
						</p>
						<p class="list-group-item-text list-sub-items">
							<span>{{event[4]}} - {{event[5]}}</span>
						</p> </a>
						<div class="collapse item-details" id=item{{$parent.$index}}{{$index}}>
							<div class="details">
								<p class="list-group-item-text list-sub-items">
									<span class="heading"><strong>Showup Loation : </strong></span><span>{{event[3]}}</span>
								</p>
								<p class="list-group-item-text list-sub-items">
									<span class="heading"><strong>Coordinator : </strong></span><span></span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
