/* line 1, ../sass/general.scss */
body {
  background-color: #e9f1f4;
}
/* line 3, ../sass/general.scss */
body .jumbotron {
  background-color: #e9f1f4;
  padding-top: 0;
}
/* line 7, ../sass/general.scss */
body .container-fluid {
  padding: 0;
}

/* line 11, ../sass/general.scss */
.hand-cursor {
  cursor: pointer;
}

/* line 14, ../sass/general.scss */
.navbar-default {
  background-color: #3f9ac3;
  height: 60px;
}
/* line 18, ../sass/general.scss */
.navbar-default .navbar-brand img {
  width: 55px;
  margin: 0px 13px;
}
/* line 24, ../sass/general.scss */
.navbar-default .profile-pic img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 12px 10px;
}

/* line 32, ../sass/general.scss */
.margin10-right {
  margin-right: 10px;
}

/* line 35, ../sass/general.scss */
.margin20-top {
  margin-top: 20px;
}

/* line 38, ../sass/general.scss */
.login-container, .profile-container {
  font-weight: 100;
  margin: 15% auto;
}
/* line 41, ../sass/general.scss */
.login-container .input-controls, .profile-container .input-controls {
  height: 55px;
  padding: 0 14px;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  font-size: 1.6em;
  border: none;
  margin: 10px 0;
  line-height: 1.6em;
  word-wrap: normal;
  word-break: normal;
  white-space: nowrap;
}
/* line 55, ../sass/general.scss */
.login-container .login-caption, .profile-container .login-caption {
  color: #777 !important;
}
/* line 58, ../sass/general.scss */
.login-container .forgot-password, .profile-container .forgot-password {
  margin-top: 20px;
  font-size: 20px;
  text-decoration: underline;
}

/*Events calendar*/
/* line 69, ../sass/general.scss */
.events-calendar-heading {
  font-size: 20px;
  font-weight: bold;
  color: #848181;
}

/* line 74, ../sass/general.scss */
.border-bottom {
  padding: 15px 0 0 0;
  border-bottom: 1px solid #ddd;
}

/* line 78, ../sass/general.scss */
.clear {
  clear: both;
}

/* line 81, ../sass/general.scss */
.profile {
  color: #bbb;
  font-size: 30px;
}

/* line 86, ../sass/general.scss */
.jumbotron .list-sub-items {
  margin-bottom: 0;
  font-size: 14px;
  letter-spacing: .1em;
}
/* line 90, ../sass/general.scss */
.jumbotron .list-sub-items .heading {
  text-transform: uppercase;
  font-size: 11px;
  color: #888;
}

/* line 99, ../sass/general.scss */
.events-calendar-container {
  padding: 0 30px;
}
/* line 101, ../sass/general.scss */
.events-calendar-container a.list-group-item {
  margin-bottom: 1px;
  color: #999;
  cursor: pointer;
  padding: 10px;
}
/* line 106, ../sass/general.scss */
.events-calendar-container a.list-group-item p {
  margin-bottom: 2px;
  line-height: 18px;
}
/* line 111, ../sass/general.scss */
.events-calendar-container .pending-item {
  border-left: 3px solid red;
}
/* line 114, ../sass/general.scss */
.events-calendar-container .normal-item {
  border-left: 3px solid #bbb;
}
/* line 117, ../sass/general.scss */
.events-calendar-container .list-sub-items {
  color: #b2abab;
}
/* line 120, ../sass/general.scss */
.events-calendar-container .month-events {
  margin-top: 50px;
}
/* line 123, ../sass/general.scss */
.events-calendar-container .add-event {
  padding: 0;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 500px;
  width: 25px;
  height: 25px;
  text-align: center;
  margin-top: 13px;
}
/* line 133, ../sass/general.scss */
.events-calendar-container .list-group-item-heading {
  color: #7a7777;
  font-size: 14px;
}
/* line 137, ../sass/general.scss */
.events-calendar-container .item-details {
  border-right: 1px solid #c8c8c8;
  border-left: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  background-color: #fff;
  margin: -3px 0 10px 0;
}
/* line 143, ../sass/general.scss */
.events-calendar-container .item-details .details {
  padding: 10px;
}

/* line 148, ../sass/general.scss */
.border {
  border-bottom: 1px solid #ddd;
  margin: 40px 0;
}

/* line 154, ../sass/general.scss */
.profile-container {
  margin: 20px auto;
}
/* line 156, ../sass/general.scss */
.profile-container .image-container {
  background-color: #f9fafb;
  text-align: center;
  border: 3px solid #eaedf1;
  padding: 5px;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
}
/* line 167, ../sass/general.scss */
.profile-container .image-container img {
  height: 100%;
  max-width: 100%;
  width: auto;
}
/* line 173, ../sass/general.scss */
.profile-container .sub-text {
  color: #aaa;
  font-size: 18px;
}
/* line 177, ../sass/general.scss */
.profile-container label {
  font-weight: normal;
  font-size: 20px;
  color: #7f7979;
}
/* line 182, ../sass/general.scss */
.profile-container h2 {
  color: #7f7979;
}
